.icon-48-markers {
      background-image: url(../images/l_markers.png);
      padding-left:60px!important;
}

.icon-48-marker {
      background-image: url(../images/l_markers.png);
      padding-left:60px!important;
}

